<!DOCTYPE html>
<html>
  <head>
    <title>add book</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <%- include partials/header %>
    <form class='add-form' action="/" method="POST">
    	<input type="text" name="title" placeholder="Enter book title">
    	<textarea rows='10' type="text" name="description" placeholder="Enter book description..."></textarea>
      <select  class='select' name="author">
        <% authors.forEach(author => { %>
         <option value="<%= author._id %>"><%= author.username %></option>
        <% }) %>
      </select>
			<input type="submit" value="Add Book">
    </form>
  </body>
</html>
