<!DOCTYPE html>
<html>
  <head>
    <title>add author</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<%- include partials/header %>
    <form class='add-form' action="/author" method='POST'>
    	<input type="text" name='name' placeholder='Enter author name'>
      <input type="text" name='email' placeholder='Enter author Email'>
    	<input type="number" name='age' placeholder='Enter author age'>
			<input type="submit" value="Add Author">
    </form>
  </body>
</html>
