<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<%- include partials/header %>
    <section>
      <div class='login-wrapper'>
        <div>
          <h1>login as author</h1>
          <a href="/auth/google">Google+</a>
        </div>
        <div class="border-wrap"><div class='border'></div></div>
        <form class='add-form' action="/users" method='POST'>
          <input type="text" name='email' placeholder="Enter your email">
          <input type="text" name='password' placeholder="Enter your password">
          <% if(message) { %>
              <p>*<%= message %></p>
          <% } %> 
          <input type="submit" value='Log in'>
        </form>
      </div>
      <div><a href="/users/signin"><h1>create new account</h1></a></div>
    </section>
  </body>
</html>