<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<header>
  		<a href="/"><h1>Books Lists</h1></a>
  		<ul>
  			<li><a href="/">Home</a></li>
  			<li><a href="/add">Add Books</a></li>
  			<li><a href="/author">Author</a></li>
        <li><a href="/users/login">Log in</a></li>
  		</ul>	
  	</header>
    <h1>Please create and display the user profile</h1>
  </body>
</html>